*{
    box-sizing: border-box;
}

body{
<<<<<<< HEAD
   
    background: #5ba4f3;
    color:  azure;
    padding-bottom: 50px;
    font-weight: bolder;
    color: brown;
=======
    background-color: #5ba4f3;
    color: azure;
>>>>>>> refs/remotes/origin/master
}

.container{
    width: 100%;
<<<<<<< HEAD
    margin: 0 auto;
    padding-bottom: 40px;
    border-radius: 20px;
    height:100%;
   }
   .header{
    padding:0 5px;
    background-color: rgb(88, 86, 86);
    color: cornsilk;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search{
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
    border-radius: 20px;
    background: rgb(207, 230, 207);
  
=======
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10;

   }
h1{
    padding: 10px 10px 5px 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(88, 86, 86);
    color: cornsilk;
    margin-top: 40px;
    margin-bottom: 100px;
}

.search{
    padding: 10px 10px 1px 10px;
    font-size: 2rem;
    background-color: twhite;
    border: 5px  green;
    border-radius: 20px;
}
.form{
    padding: 20px 10px 5px 10px;

}
.search :focus{
    outline: none;
>>>>>>> refs/remotes/origin/master
}

.main-list{
    border-radius: 10px;
    width: 97%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    background-color: #b07c9e;
    background: white;
    border-radius: 20px;
    margin: 0.5rem;
    text-align: center;
    color: rgb(34, 6, 53);
    font-weight: bolder;
    display: flex column wrap;
}

img{
    border-radius: 20px 20px 0 0;
}

.text-title, .text-year{
    margin-top: 5px;
    margin-top:0 ;
}



@media(max-width:450px){
    body{
        background: #5ba4f3;
        font-weight: bolder;
    }
    .header{
        background: transparent;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        top: 0;  
    }
   
    .search{
        margin-bottom: 16px;
        font-size: 18px;
        width: 100%;
        background-color: #eaf5e5;
    }
    .main-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;  
    }

    .card{
        background-color:#f1f4f8;
        border-radius: 10px;
        margin: 0.5rem;
        text-align: center;
        width: 28%; 
    }
    
    img{
        border-radius: 10px;
        width: 100%;
    }
    
    .text-title, .text-year{
        color: rgb(34, 6, 53);
        margin:5px 0 ;

    }
    
   
}
@media screen and (max-width: 625px) {
    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(88, 86, 86);
        color: cornsilk;
        margin-top: 40px;
        margin-bottom: 100px;
    }
    .form{
        margin: auto;
        padding: 10px 10px ;
    
    }
    h1{
        margin: auto;
    }
  }