*{
    box-sizing: border-box;
}

body{
    background-color: #091f36;
    color: azure;
}
.container{
    width: 80%;
    margin: auto;
    margin-top: 80px;
   }
.header{
    display: flex;
    justify-content: flex-end;
}

.search{
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border-radius: 20px;
    background-color: transparent;
    border: 5px dotted green;
}
.search :focus{
    outline: none;
}
.main-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
img{
    margin-bottom: 0;
}

.card{
    margin: 1rem;
    text-align: center;
    width: 300px;
}
